<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>My Otaku Opinions</title>
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css'
      rel='stylesheet'
    />
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH'
      crossorigin='anonymous'
    />
    {{! Apple touch icon for Apple devices }}
    <link
      rel='apple-touch-icon'
      sizes='180x180'
      href='/./images/apple-touch-icon.png'
    />
    {{! Favicon for browsers (32x32 size) }}
    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='/./images/favicon-32x32.png'
    />
    {{! Favicon for browsers (16x16 size) }}
    <link
      rel='icon'
      type='image/png'
      sizes='16x16'
      href='/./images/favicon-16x16.png'
    />
    {{! Web app manifest for various platforms }}
    <link rel='manifest' href='/./images/site.webmanifest' />

    <link rel='stylesheet' href='/css/carousel.css' />
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>

    <nav class='navbar navbar-expand-lg'>
      <div class='container-fluid'>
        <img
          src='/./images/apple-touch-icon.png'
          alt='placeholder'
          style='width: 32px; height: 32px'
        />
        <a class='nav-link nav-link-custom main-header' href='/'><h2>My Otaku
            Opinions</h2></a>
        <button
          class='navbar-toggler primary-color'
          type='button'
          data-bs-toggle='collapse'
          data-bs-target='#navbarSupportedContent'
          aria-controls='navbarSupportedContent'
          aria-expanded='false'
          aria-label='Toggle navigation'
        >
          <span class='navbar-toggler-icon'></span>
        </button>
        <div class='collapse navbar-collapse' id='navbarSupportedContent'>
          <ul class='navbar-nav me-auto mb-2 mb-lg-0'>

            <li class='nav-item m-nav'>
              {{#if logged_in}}
                <li class='nav-item'>
                  <a
                    class='nav-link nav-link-custom'
                    aria-current='page'
                    href='/followed'
                  >Follows</a>
                </li>
                <li class='nav-item'>
                  <a
                    class='nav-link nav-link-custom'
                    id='logout'
                    href='#'
                  >Logout</a>
                </li>
              {{else}}
                <li class='nav-item'>
                  <a
                    class='nav-link nav-link-custom'
                    aria-current='page'
                    href='/login'
                  >Follows</a>
                </li>
                <li class='nav-item'>
                  <a class='nav-link nav-link-custom' href='/login'>Login</a>
                </li>
              {{/if}}
            </li>

          </ul>
        </div>
      </div>
    </nav>
    <form
      class='d-flex mb-0 container-fluid mt-2'
      id='search-form'
      role='search'
    >
      <input
        class='form-control me-2'
        type='search'
        placeholder='Search'
        aria-label='Search'
        id='search-input'
      />
      <button id='search-btn' class='btn primary-color' type='submit'><i
          id='search-icon'
          class='bi bi-search'
        ></i></button>
    </form>
    <div class='container mt-5'>
      {{{body}}}
    </div>
    <script
      src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js'
      integrity='sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz'
      crossorigin='anonymous'
    ></script>
    <script src='/js/search.js'></script>
    <script src='/js/follow.js'></script>
    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>
</html>