<div class='container d-flex flex-row flex-wrap'>
  <div>Top 10 (WIP)</div>
  <div class='embla'>
    <div class='embla__viewport'>
      <div class='embla__container'>
        <div class='embla__slide'>
          <img
            src='https://cdn.myanimelist.net/images/anime/1141/142503.jpg'
            class='card-img-top'
            alt='...'
          /></div>
        <div class='embla__slide'>
          <img
            src='https://cdn.myanimelist.net/images/anime/1141/142503.jpg'
            class='card-img-top'
            alt='...'
          /></div>
        <div class='embla__slide'>
          <img
            src='https://cdn.myanimelist.net/images/anime/1141/142503.jpg'
            class='card-img-top'
            alt='...'
          /></div>
        <div class='embla__slide'>
          <img
            src='https://cdn.myanimelist.net/images/anime/1141/142503.jpg'
            class='card-img-top'
            alt='...'
          /></div>
        <div class='embla__slide'>
          <img
            src='https://cdn.myanimelist.net/images/anime/1141/142503.jpg'
            class='card-img-top'
            alt='...'
          /></div>
        <div class='embla__slide'>
          <img
            src='https://cdn.myanimelist.net/images/anime/1141/142503.jpg'
            class='card-img-top'
            alt='...'
          /></div>
        <div class='embla__slide'>
          <img
            src='https://cdn.myanimelist.net/images/anime/1141/142503.jpg'
            class='card-img-top'
            alt='...'
          /></div>
        <div class='embla__slide'>
          <img
            src='https://cdn.myanimelist.net/images/anime/1141/142503.jpg'
            class='card-img-top'
            alt='...'
          /></div>
      </div>
    </div>
    <button class='embla__prev'>Prev</button>
    <button class='embla__next'>Next</button>
  </div>
</div>
<script src='https://unpkg.com/embla-carousel/embla-carousel.umd.js'></script>
<script src='/js/carousel.js'></script>