<div>This is the homepage route!</div>

<div class='container'>
  {{!-- {{#each anime}} --}}
  <div class='card' style='width: 12rem;'>
    <img
      src='https://placehold.co/100x200'
      class='card-img-top'
      alt='...'
      style='height: 150px, width: 100px;'
    />
    <div class='card-body'>
      <h2 class='card-title'>Naruto</h2>
      <p class='card-text score'>10</p>
      <button class='btn btn-success'>Save</button>
      <p class='card-text'></p>
    </div>
  </div>
  {{!-- {{/each}} --}}
</div>