<div>This is the homepage route!</div>
{{!-- {{#each anime}} --}}
<div class='card' style='width: 18rem;'>
  <img src='https://placehold.co/200x400' class='card-img-top' alt='...' />
  <div class='card-body'>
    <h2 class='card-title'>{{title}}</h2>
    <p class='card-text'>{{description}}</p>
  </div>
</div>
{{!-- {{/each}} --}}