<form id='login-form'>
  <legend>Log In</legend>
  {{! username }}
  <div class='mb-3'>
    <label for='login-username' class='form-label'>Username</label>
    <input
      type='text'
      id='login-username'
      class='form-control'
      aria-describedby='usernameHelpBlock'
      required
    />
  </div>

  {{! password }}
  <div class='mb-3'>
    <label for='login-password' class='form-label'>Password</label>
    <input
      type='password'
      id='login-password'
      class='form-control'
      aria-describedby='passwordHelpBlock'
      required
    />

  </div>
  <p><a class='link-opacity-100' href='/signup'>Don't have an account? Sign Up!</a></p>
  <button type='submit' class='btn btn-primary'>Log In</button>
</form>

<script src='./js/login.js'></script>