<form id='signup-form'>
  <legend class='text-white'>Sign Up</legend>
  {{! username }}
  <div class='mb-3'>
    <label
      for='signup-username'
      class='form-label primary-color-text'
    >Username</label>
    <input
      type='text'
      id='signup-username'
      class='form-control'
      aria-describedby='usernameHelpBlock'
    />

  </div>

  {{! password }}
  <div class='mb-3'>
    <label
      for='signup-password'
      class='form-label primary-color-text'
    >Password</label>
    <input
      type='password'
      id='signup-password'
      class='form-control'
      aria-describedby='passwordHelpBlock'
    />

  </div>
  <button type='submit' class='btn primary-color'>Sign Up</button>
</form>

<script src='./js/signup.js'></script>