<form id='signup-form'>
  {{!-- username --}}
  <legend>Sign Up</legend>
  <div class='mb-3'>
    <label for='signup-username' class='form-label'>Username</label>
    <div class='input-group has-validation'>
      <input
        type='text'
        class='form-control is-invalid'
        id='signup-username'
        aria-describedby='usernameHelpBlock'
        required
      />
      <div id='usernameHelpBlock' class='invalid-feedback'>
        Please enter a valid username.
      </div>
    </div>
  </div>

  