:root {
  --dark-color: #111103;
  --light-color: #ffffff;
  --light-purple: #816baa;
  --dark-purple: #8e3ac1;
  --disabled: #31312b;
}

.anime-additional-info {
  color: var(--light-color);
  margin: 0;
  margin-bottom: 1rem;
}

.anime-badge {
  background-color: var(--dark-purple);
  margin-right: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.375rem;
}

.anime-year {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.anime-details-container {
  margin-bottom: 3rem;
}

.anime-title {
  color: var(--light-color);
  margin: 0;
}

.anime-title-en {
  color: #a7a7a7;
  font-weight: 500;
}

.anime-img {
  border-radius: 0.375rem;
}

.anime-details-btn {
  background-color: var(--dark-purple);
  color: var(--light-color);
}

.anime-score {
  color: var(--dark-purple);
  font-weight: bolder;
}

.anime-synopsis {
  color: var(--light-color);
  margin: 0;
  margin-top: 3rem;
}

.comment-header {
  color: var(--light-color);
  border-bottom: 2px solid var(--dark-purple);
}

.btn-disabled {
  background-color: var(--disabled);
  pointer-events: none;
}
