.embla {
  overflow: hidden;
}

.embla__viewport {
  max-height: 400px;
  overflow: hidden;
}

.embla__container {
  display: flex;
  position: relative;
}

.embla__slide {
  flex: 0 0 10%;
  margin-right: 20px;
}

.embla__prev,
.embla__next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 50px;
  width: 40px;
  background-color: #a086d2;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.embla__prev {
  left: 0;
}

.embla__next {
  right: 0;
}
