.card-body {
  background-color: #111103;
}

.card-text {
  color: #ffffff;
}

.card-title {
  color: #ffffff;
}

.primary-color {
  background-color: #a086d2;
}

.secondary-color {
  background-color: rgb(255, 73, 128);
}
