:root {
  --dark-color: #111103;
  --light-color: #ffffff;
  --light-purple: #816baa;
  --dark-purple: #8e3ac1;
}

/* main handlebars */
body {
  background-color: var(--dark-color);
}

.main-header {
  margin-left: 10px;
}

.nav-link {
  color: var(--light-color);
}

.nav-link:hover {
  color: var(--light-purple);
}

#search-btn {
  background-color: var(--light-color);
  border-color: var(--dark-purple);
  border-radius: 5px;
  height: 50px;
  width: 50px;
}

#search-icon {
  color: var(--dark-purple);
}

/* end of main handlebars */

/* animeCard, topTenCard, and AnimeCardLoggedIn */
.card-title {
  color: var(--light-color);
}

/* main, signup, login and homepage */
.primary-color {
  background-color: var(--dark-purple);
}

/* main, signup, and login */
.primary-color-text {
  color: #a086d2;
}

.primary-color:hover {
  background-color: var(--light-purple);
}

/* homepage */
.homepage-container {
  margin-top: 20vh;
}

.nav-link {
  color: #ffffff;
}

.m-nav {
  margin-left: 30px;
}

.nav-link:hover {
  color: #816baa;
}

.anime-card {
  position: relative;
  background-color: var(--dark-color);
  padding: 2rem;
  overflow: hidden;
  border-radius: 0.375rem;

  .anime-card-content {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    height: 12rem;

    .anime-card-text {
      .anime-card-title {
        text-align: right;
        z-index: 1;
        font-weight: bold;
        color: var(--light-color);
        max-width: 35rem;
      }

      .anime-card-score {
        text-align: right;
        font-weight: bold;
        color: #a086d2;
        z-index: 1;
      }
    }

    /* Anime Card loggedin */
    .anime-card-btn {
      background-color: var(--light-color);
      font-weight: bold;
      color: var(--dark-purple);
      transition: 300ms ease all;
    }

    .anime-card-btn:hover {
      background-color: var(--light-purple);
    }
  }

  .anime-card-image {
    position: absolute;
    width: 400px;
    top: -30%;
    left: 0;
    mask-image: linear-gradient(
      to right,
      rgba(17, 17, 3, 1),
      rgba(17, 17, 3, 0)
    );
  }
}

/* end of animecard loggedin */

/* example.card html issues */

.card-body {
  background-color: var(--dark-color);
}

#search-icon {
  color: #8e3ac1;
}
.short-card-body {
  height: 30%;
}

.card-text {
  color: var(--light-color);
}

/* end of example.card css */
